.spaced li {

  margin:0 0 10px 0;

}

​

.shadow {

  box-shadow:0 14px 20px 0 rgba(0,0,0,0.2),0 10px 24px 0 rgba(0,0,0,0.19) !important;

}

​

.headline h2 {

  color: white;

  letter-spacing: 0.05em;

  font-variant: small-caps;

}

​

.byline {

  color: gray;

  font-size: xx-small;

  letter-spacing: 0.05px;

}

​

.reveal section img {

  background: none;

  border: none;

  box-shadow: none;

}

​

.reveal a {

  color: white;

}

​

.reveal a:hover {

  color: white;

  font-weight: bold;

}

​

.reveal div.left {

    float: left; z-index: -10; width: 45%;

}

.reveal div.right {

    float: right; z-index: -10; width: 55%;

}



